*{
    margin:0%;  
    font-family: Arial, Helvetica, sans-serif;  
    border: border-box; 
}
.navbar{
    background-color: #0f1111;  
    height: 60px;
    width: 100%; 
    color: white; 
    display: flex;  
    align-items: center;
    justify-content: space-evenly;      
}
.nav-logo{  
    height: 50px;
    width:113px;  
}
.border{
    border:1.5px solid transparent;  
}
.border:hover{
    border:1.5px solid white; 
}   

.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;  
    width:100%;
    height: 100%;  
}
.location-title{  
    color: #cccccc;
    font-size: 0.85rem;  
    margin-left: 17px;                
}
.location-second{  
     margin-left: 5px; 
     font-size: 1rem; 
     font-weight: 700;    
}
.location-box{
    display: flex;
    align-items: center;    
}


.nav-search{
    display: flex;
    height: 50px;  
    width: 750px;          
    align-items: center; 
    border-radius: 4px;   
    border: 0px;   
}

.nav-search:hover{
    border:.1rem solid #febd68;  
                 
}
.nav-search select{
    height: 100%;          
    width: 45px; 
    background-color: #f3f3f3;
    text-align: center; 
    border-top-left-radius: 4px;       
    border-bottom-left-radius: 4px;         
}
.nav-search input{  
    height: 91%;               
    width: 100%;     
}

.search-icon{
    height: 100%;      
    width: 45px;   
    background-color: #febd68;    
    display: flex;
    justify-content: center; 
    align-items: center;  
    border-top-right-radius: 4px;       
    border-bottom-right-radius: 4px;    
}
.search-icon i{
    font-size: 1.5rem;  
    color: #0f1111; 
}

.nav-flag{
    display: flex;   
}
.flag{
    height:22px;
    width:32px;  
    background-image: url("Flag_of_India.png");  
    background-size: cover;      
}

.nav-flag select{   
    -webkit-appearance: none;    
    background-color: transparent; 
    color:white;  
    border: none;  
    font-weight: 700; 
}
.firstText{  
    font-size: 0.85rem;  
}
.secondText{
    font-weight: 700;
      font-size: 1rem; 
}
.nav-cart{
    display: flex;
}
.nav-cart i{
      font-size: 1.8rem;      
}
.nav-cart p{  
    margin-top: 10px;    
    font-size: 1rem;   
    font-weight: 700;       
}

/*Panel Styling*/

.panel{
    width:100%;
    height: 40px; 
    background-color: #222f3d;  
    display: flex;  
    align-items: center;  
    justify-content: space-evenly;
    color: white;   
}

.panel .options{  
    display: flex;   
    width: 90%;            
}

.panel .options p{
    margin-left: 10px;    
    font-size: .95rem; 
}

/* Hero Section*/
.hero-section{
    position: relative;  
}
.banner{
    background: url("hero-img2.jpg");          
    height: 340px;      
    background-size: cover;  
    
}
.text{
    width:80%;
    height: 3rem;   
    background-color: white; 
    position: absolute;   
    bottom: 20px; 
    left:10%;            
    display: flex; 
    align-items: center;
    justify-content: center;  
    font-size: 0.85rem;   
}
.text a{
    color: #007185; 
}



/*   box design */
.box-section{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;  
    flex-wrap: wrap;  
       
    background-color: rgb(237, 237, 157);       
}
.box-content h2{        
    font-size: 1.5rem;
    color: #0f1111;  
    margin-left: 1rem; 
    margin-bottom: .5rem;          
}
.box{  
    padding: 20px 0px 15px; 
    height:420px;
    width:23%;   
    background-color: white;  
    margin-bottom: 1rem;     
}
.box-content{
    margin-left:.4rem;   
    margin-right:.4rem;        
}


.box-content-img{
    background-size: cover; 
    height: 344px;
    width: 276px;
    margin-left: 1rem;          
}

.box-content p{
    font-size: .85rem; 
    color:#007185 ;
    margin-left: 1rem;  
    margin-top: 2rem;  
}


/* deals design section */

.deals-section{    
    justify-content: center;           
    background-color: white;    
    margin-top: 2rem; 
    margin-bottom: 2rem;    
}  
.deals-scrollbar{
    display: flex;
    overflow-x: scroll;  
    scroll-snap-type: x mandatory;      
}
.deals-content{
      height: 300px;   
      width: 19%;          
      padding: 0px 0px 10px;
      margin: 0px 10px 0px 10px;  
             
}
.deals-title{
    display: flex; 
    margin: 10px 0px 0px 1rem;         
    height: 2.3rem;
    width: 100%;   
}
.deals-title h2{
    font-size: 1.5rem;
    color: #0f1111;      
}

.deals-title a{   
    font-size: .85rem; 
    color:#007185 ;    
    text-decoration: none;
    padding:0px 0px 0px 15px;   
    margin-top: 6px;       
}

.deals-img-box{
    height: 200px;
    width: 240px; 
    background-color: #f3f3f3;   
    display: flex;
    align-items: center;
    justify-content: center; 
}
.deals-img{
    background-size: cover;  
    height: 180px;       
    width: 140px; 
}

.deals-tag{  
    display: flex;
    align-items: center;   
    margin: .5rem 0.3rem .5rem;     
}

.deals-tag .offer-tag{
    background-color: #cc0c39;  
    height: 24px;
    width: 55px;
    color: white; 
    padding: 4px 6px;
    margin: 0px 6px 0px 0px; 
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;          
}
.deals-tag  p{  
    font-size: 1rem;
    color: #cc0c39;  
    font-weight: 600;            
}

.deals-price{
    display: flex; 
    align-items: center;     
    color: #cc0c39;   
}   
.deals-price i{      
    font-size: .85rem;               
}
.deals-price p{   
    font-size: .85rem; 
    margin-left: .5rem;    
}
.deals-content #deals-details{  
    font-size: .85rem;  
    color: #0f1111;  
}